version: '3.8'

services:
  # 1. Твій Торговий Бот (Backend)
  bot:
    build: .
    container_name: trade_bot
    command: python main.py
    restart: always
    volumes:
      # Спільна папка для бази даних
      - ./bot_data:/app/bot_data
    environment:
      - PYTHONUNBUFFERED=1

  # 2. Твій Веб-Сайт (Frontend)
  web:
    build: .
    container_name: trade_dashboard
    # Запускаємо Django
    command: python manage.py runserver 0.0.0.0:8000
    restart: always
    volumes:
      # Та сама спільна папка! Сайт бачить те, що пише Бот.
      - ./bot_data:/app/bot_data
    ports:
      # Відкриваємо порт назовні (80 - це стандартний порт інтернету)
      - "80:8000"
    depends_on:
      - bot